@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CustomFont;
  src: url(./assets/font/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/font/Roboto-Regular.ttf);
}
input {
  font-family: CustomFont;
}
input::placeholder {
  font-family: CustomFont;
}

#imgcontainer {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.b {
  background-image: url(./assets/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
